html, body {
    margin:0;
    padding:0;
    height: 100%;
    text-align: center;
}



section.left {
    float: left;
    background-color: cornflowerblue;
    border: 1px solid #333333;
    width: 48px;
    height: 540px;
    position: absolute;
    top: 48px;
}